<% layout('layouts/boilerplate')%>
<h2>Edit Camp</h2>
<form action="/campers/<%=camper.id%>?_method=PUT" method="POST">
	<div>
		<label for="title">Title</label>
		<input
			type="text"
			id="title"
			name="camper[title]"
			value="<%=camper.title%>"
		/>
	</div>
	<div>
		<label for="location">Location</label>
		<input
			type="text"
			id="location"
			name="camper[location]"
			value="<%= camper.location%>"
		/>
	</div>
	<button>Edit Camp</button>
</form>
<div>
	<a href="/campers/<%=camper.id%>">Go back</a>
</div>
