<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New CampIn</title>
	</head>
	<body>
		<form action="/campers" method="POST">
			<div>
				<label for="title">Title</label>
				<input type="text" id="title" name="camper[title]" />
			</div>
			<div>
				<label for="location">Location</label>
				<input type="text" id="location" name="camper[location]" />
			</div>
			<button>Add Camp</button>
		</form>
		<div>
			<a href="/campers">Go back</a>
		</div>
	</body>
</html>
